<div class="elements-bg">
<div class="elements">
<%= form_with(model: @rule, local: true) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
    <div class="form-group">
        <h5><%= f.label :if_rule, 'if' %></h5>
        <%= f.text_area :if_rule, class: 'form-control', rows:2 %>
    </div>
    <div class="form-group"> 
        <h5><%= f.label :then_rule, 'then' %></h5>
        <%= f.text_area :then_rule, class: 'form-control', rows:2 %>
    </div>
    <div class="form-group"> 
        <h5><%= f.label :master, 'status' %></h5>
        <%=  f.select :master, [['挑戦中',0],['習得',1]], {}, class: 'form-control', id: 'rule_master'%>        
    </div>
    
    <%= f.submit 'ルールを更新', class: 'btn btn-primary btn-block' %>
<% end %>
</div>
</div>