<%= form_with(model: @rule, local: true) do |f| %>
    <div class="form-group">
        <%= f.label :if_rule, 'if' %>
        <%= f.text_area :if_rule, class: 'form-control', rows:2 %>
    </div>
    <div class="form-group"> 
        <%= f.label :then_rule, 'then' %>
        <%= f.text_area :then_rule, class: 'form-control', rows:2 %>
    </div>
    <%= f.submit 'Create Rule', class: 'btn btn-primary btn-block' %>
<% end %>
